
{% schema %}
    {
        "name": "Drive Mode",
        "settings": [
            { "type": "header","content":"配置"},
            { "type": "checkbox", "id": "autoplay", "label": "自动播放", "default": true },
            { "type": "range", "id": "autoplay_speed", "label": "播放速度", "min": 1, "max": 20, "step": 1, "unit": "秒", "default": 5 },

            { "type": "header","content":"标题"},
            { "type": "textarea", "id": "title", "label": "标题" },
            { "type": "textarea", "id": "info", "label": "描述" },

            { "type": "header","content":"其它"},
            { "type": "text", "id": "custom_class", "label": "自定义class" }
        ],
        "max_blocks": 3,
        "blocks": [
            {
                "type": "item",
                "name": "Item",
                "settings": [
                    { "type": "header","content":"图片"},
                    { "type": "image_picker", "id": "image", "label": "背景图片" },
                    { "type": "image_picker", "id": "image_mb", "label": "背景图片(手机端)" },

                    { "type": "header","content":"图标"},
                    { "type": "image_picker", "id": "icon", "label": "图标" },
                    { "type": "image_picker", "id": "icon_avtive", "label": "图标(激活状态)" },
                    { "type": "textarea", "id": "icon_title", "label": "图标标题" },
                    { "type": "textarea", "id": "icon_desc", "label": "图标描述"}
                ]
            }
        ],

        "presets": [
            {
                "name": "Drive Mode",
                "category": "custom"
            }
        ]
    }
{% endschema %}

{{ 'freesky-drive-mode.css' | asset_url | stylesheet_tag }}

<style>
    [data-section-id="{{ section.id }}"] {
        --autoplay_speed:{{ section.settings.autoplay_speed }}s;
    }
</style>

<div class="freesky-drive-mode {{ section.settings.custom_class }}" data-section-id="{{ section.id }}" style="display:block;">
    <div class="safe-container">
        <div class="drive-mode">
            <div class="swiper-box">
                <div class="main-area">
                    <div class="swiper drive-mode-swiper">
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="{{ block.settings.image_mb | image_url: width: 1279 }}"  media="(max-width: 1279px)" />
                                        <source srcset="{{ block.settings.image | image_url: width: block.settings.image.width }}" media="(min-width: 1280px)" />
                                        <img src="{{ block.settings.image_mb | image_url: width: 1279 }}" width="100%" height="auto" />
                                    </picture>

                                    <div class="block-info only-mobile">
                                        <span class="icon-title">{{ block.settings.icon_title }}</span>
                                        <span class="icon-desc">{{ block.settings.icon_desc }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="custom-pagination only-mobile">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    
                </div>


                <div class="thumbnail-area">

                    {% if section.settings.title != blank or section.settings.info != blank %}
                        <div class="heading-area">
                            <div class="heading-container">
                            <div class="heading-inner">
                            {% if section.settings.title != blank %} <h2 class="section-title pretitle mu-bold f-black"> {{ section.settings.title }} </h2> {% endif %}
                            {% if section.settings.info != blank %} <p class="section-info"> {{ section.settings.info }} </p> {% endif %}
                            </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="thumbnail-container">
                    <div class="thumbnail-inner">
                    <div class="swiper thumbnail-swiper">
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                                <div class="swiper-slide">
                                    <div class="icon-box">
                                        <img class="icon-normal icon-img" width="auto" height="auto" loading="lazy" src="{{ block.settings.icon | image_url: width: 123 }}" />
                                        <img class="icon-active icon-img" width="auto" height="auto" loading="lazy" src="{{ block.settings.icon_avtive | image_url: width: 123 }}" />
                                        <span class="icon-title">{{ block.settings.icon_title }}</span>
                                        <div class="progress-line only-desktop"></div>
                                        <span class="icon-desc only-desktop">{{ block.settings.icon_desc }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
;(function() {
    const oSection = document.querySelector('[data-section-id="{{ section.id }}"]');
    const mainSwiperEle = oSection.querySelector('.drive-mode-swiper');
    const thumbsSwiperEle = oSection.querySelector('.thumbnail-swiper');

    window.addEventListener('DOMContentLoaded', () => {
        const currentUrl = window.location.href;
        if(currentUrl.indexOf('aaa') != -1){
            document.querySelector('[data-section-id="{{ section.id }}"]').style.display = 'block';
        }

        var thumbsSwiper = new Swiper(thumbsSwiperEle, {
            loop: true,
            spaceBetween: 20,
            slidesPerView: 3,
            freeMode: true,
            watchSlidesProgress: true,
        });
        var mainSwiper = new Swiper(mainSwiperEle, {
            loop: true,
            {% if section.settings.autoplay %}
            autoplay: {
                delay: {{ section.settings.autoplay_speed | times: 1000 }},
                disableOnInteraction: false,
            },
            {% endif %}
            spaceBetween: 0,
            effect: "fade",
            pagination: {
                el: mainSwiperEle.querySelector(".swiper-pagination"),
                clickable: true,
            },
            thumbs: {
                swiper: thumbsSwiper,
            },
        });


    });
})();
</script>
